.container {
  height: 600px;
  padding: 40px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgb(129, 255, 192) 100%
  );
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headline {
  text-align: center;
  font-size: 40px;
  flex-grow: 1;
}

.imageContainer {
  width: 70%;
  height: auto;
}
